# Project exclude paths
/.gradle/
/build/
/Client/build/
/Server/build/
/Client/out/production/
/Grpc/build/
/Grpc/out/production/classes/rdublin/wallet/grpc/
/Server/out/production/
/Server/out/test/classes/
/spring-shell.log
/Docker/build/
/Client/out/test/classes/rdublin/wallet/client/
/out/
/Server/out/test/resources/
